<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
       
        <div class="w-full h-screen text-white bg-zinc-900">
            <div class="flex gap-4 items-center justify-center py-20">
                <button class="connect px-5 py-3 bg-blue-500 rounded"> Connect to server</button>
                <button class="disconnect px-5 py-3 bg-red-500 rounded">Disconnect from Server</button>
            </div>
        </div>

        <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
            integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
            crossorigin="anonymous"></script>

        <script>

            //const socket = io();
            
            /*socket.emit('abcd', 12);
            socket.on('1defg', () => {
                console.log('defg')
            }) 

            socket.emit('typing')
            socket.on('typing', () => {
                console.log('user is Typing....')
            }) */
             
            // button se socket server on off kr rahe -->

            let conn = document.querySelector(".connect");
            let diss = document.querySelector(".disconnect");
            let socket;

            conn.addEventListener("click", (evt) => {
                socket = io();
            })
            diss.addEventListener("click", (evt) => {
                socket.disconnect();
            })

        </script>

    </body>
</html>