<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
            src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <title>Document</title>
    </head>
    <body>
        <div class="bg-zinc-900 p-5  w-full h-screen text-white">
            <h1 class="text-3xl text-center font-bold uppercase"> Video Call </h1>

            <div id="videos " class="flex flex-row gap-10 items-center justify-center w-full h-[80%] mt-5 p-5">

                <video id="localVideo" class="video-player h-full w-[50%] border border-gray-600 " autoplay 
                    playsinline></video>
                <video id="remoteVideo" class="video-player h-full w-[50%] border border-gray-600 " 
                    playsinline></video>

            </div>

            <div id="controls " class="flex flex-row gap-10 items-center justify-center mt-5">

                <div id="cameraButton" class="control-container bg-green-400 px-5 py-2 rounded-full hover:bg-green-200">

                    <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path
                    d="M128 128C92.7 128 64 156.7 64 192L64 448C64 483.3 92.7 512 128 512L384 512C419.3 512 448 483.3 448 448L448 192C448 156.7 419.3 128 384 128L128 128zM496 400L569.5 458.8C573.7 462.2 578.9 464 584.3 464C597.4 464 608 453.4 608 440.3L608 199.7C608 186.6 597.4 176 584.3 176C578.9 176 573.7 177.8 569.5 181.2L496 240L496 400z" /></svg>

                </div>

                <div id="micButton" class="control-container bg-green-400 px-5  py-2 rounded-full hover:bg-green-200">
                    <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path
                            d="M320 64C267 64 224 107 224 160L224 288C224 341 267 384 320 384C373 384 416 341 416 288L416 160C416 107 373 64 320 64zM176 248C176 234.7 165.3 224 152 224C138.7 224 128 234.7 128 248L128 288C128 385.9 201.3 466.7 296 478.5L296 528L248 528C234.7 528 224 538.7 224 552C224 565.3 234.7 576 248 576L392 576C405.3 576 416 565.3 416 552C416 538.7 405.3 528 392 528L344 528L344 478.5C438.7 466.7 512 385.9 512 288L512 248C512 234.7 501.3 224 488 224C474.7 224 464 234.7 464 248L464 288C464 367.5 399.5 432 320 432C240.5 432 176 367.5 176 288L176 248z" /></svg>

                </div>




            </div>

            

        </div>

        <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
            integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
            crossorigin="anonymous"></script>
        <script src="/script.js"></script>
    </body>
</html>